<div class="row all-flight">
  <div class="col-sm-1">
     <span> Ref </span>
  </div>
  <div class="col-sm-1">
     <span> Airline </span>
  </div>
  <div class="col-sm-2">
    <span> From</span>
  </div>
  <div class="col-sm-3">
      <span> To </span>
  </div>
   <div class="col-sm-1">
    <span> Departure Time </span>
  </div>
   <div class="col-sm-1">
    <span> seats </span>
  </div>
  <div class="col-sm-1">
    <span> cost </span>
  </div>
  <div class="col-sm-1">
    <span class="pull-left"> Delete </span>
  </div>
  <div class="col-sm-1">
    <span class="pull-left"> Edit </span>
  </div>

</div>
