<div class="row all-flight">
  <div class="col-sm-2">
     <span> Airline </span>
  </div>
  <div class="col-sm-3">
    <span> From</span>
  </div>
  <div class="col-sm-3">
      <span> To </span>
  </div>
   <div class="col-sm-2">
    <span> Departure Time </span>
  </div>
   <div class="col-sm-1">
    <span> Duration </span>
  </div>
  <div class="col-sm-1">
    <span> Book </span>
  </div>
</div>
