<%= render partial: 'header' %>
<div class="main-div">
  <div class="row bg-image">
   YOU HAVE <span class="orange-text"> <%= @bookings.length %> </span> BOOKINGS
  </div>
   <%= render partial: 'partials/userbookings' %>
</div>
