<table class="mail-table">
  <tr>
    <th colspan="0">Booking Details</th>
  </tr>
  <tr>
    <td>Ref</td>
    <td>Airline</td>
    <td>Flight Number</td>
    <td>Seats</td>
    <td>Total Cost</td>
  </tr>
  <tr>
    <td> = booking.ref  </td>
    <td> = booking.flight.airline  </td>
    <td> = booking.flight.id  </td>
    <td> = booking.seats  </td>
    <td> &#x20A6;= booking.cost  </td>
  </tr>
  </table>
  <table>
  <tr>
  <td>Passenger Details</td>
  </tr>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Seat Number</td>
    <td>Cabin</td>
    <td>Cost</td>
  </tr>
</table>
