//= require_tree
//= require_self


@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$head-text:  Raleway, sans-serif;
$open-sans: "Open Sans", sans-serif;
$deep-blue: #337ab7;
$light-blue: #d9edf7;
$light-blue-border: #bce8f1;
$medium-blue: #4b8bac;
$medium-green: #47c9af;
$light-gray: #eaeaea;
$light-blue-text: #4579aa;
$medium-gray: #e7e7e7;
$my-gray: #b2b6b7;
$my-brown: #384145;
$my-green: #338574;
$my-white: #ffffff;
$my-orange: #ffcb00;
$my-black: #160f09;
$grey-border: #efefef;
$bottom-border: #e8e8e8;
$section-color: #333;
$section-text-size: 400;
$section-font: 'ProximaNova', sans-serif, Arial;
$google-red: #d34836;

$facebook-blue: #3b5998;
$twitter-blue: #4099ff;
$instagram-red: #3f729b;
$pinterest-red: #c92228;

