@import "application";

.thin-wrap {
  border: 1px solid $my-gray;
  height: 6em;
}

.flight-details {
  border-bottom: 1px solid $medium-gray;
  color: $my-black;
  font-family: $section-font;
  font-size: 1em;
  height: 3em;
  padding: 1em;
}

.flight-detailss {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
}

h3 {
  letter-spacing: 4px;
}

.flight-details-header {
  background-color: #ff6600;
  border-radius: 5px;
  color: $white;
  font-family: $header-text;
  font-size: 15px;
  font-weight: bold;
  height: 4em;
  line-height: 4em;
  text-align: center;
}

.passenger-fields {
  border-bottom: 2px solid $medium-blue;
  height: auto;
  padding-bottom: 1em;
  padding-top: 2em;
}

.div-pad {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.div-pad-big {
  padding: 1em;
}

.confirm-head {
  background-color: $deep-blue;
  border-radius: 5px 5px 0 0;
  color: $my-white;
  font-size: 1em;
  height: 2.8em;
  line-height: 2.8em;
  text-align: left;
}

.bookings-box {
  border-radius: 4px;
  min-height: 100em;
  padding: 1em;
  position: relative;
  top: 6em;
  width: 90% !important;
}

.search-input {
  background-color: $my-white;
  min-height: 50em;
  padding: 1em;
  position: relative;
  text-align: center;
  top: 6em;
  width: 40% !important;
}

.thank-you {
  background-color: $orange;
  border-radius: 5px;
  color: $white;
  height: 7em;
  padding: 2em;
  width: 100%;
}

.big-white-text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
}

.my-table {

  text-transform: uppercase;
  width: 100%;
}

.grey-text {
  color: $grey;
  font-weight: bold;
}

.booking-info {
  background-color: $orange;
  border-radius: 5px;
  color: $white;
  font-family: $header-text;
  height: 30em;
  padding: 28px 34px 31px;
  text-transform: uppercase;
  width: 80%;

  p {
    color: $pink;
    letter-spacing: 0.5px;

  }

  span {
    color: $white;

  }
}
