@import "application";

.thin-wrap {
  border: 1px solid $my-gray;
  height: 6em;
}

.flight-details {
  border-bottom: 1px solid $medium-gray;
  color: $my-black;
  font-family: $section-font;
  font-size: 1em;
  height: 3em;
  padding: 1em;
}

.flight-detailss {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
}

h3 {
  letter-spacing: 4px;
}

.flight-details-header {
  background-color: #ff6600;
  border-radius: 5px;
  color: $white;
  font-family: $header-text;
  font-size: 15px;
  font-weight: bold;
  height: 4em;
  line-height: 4em;
  text-align: center;
}

.passenger-fields {
  border-bottom: 2px solid $medium-blue;
  height: auto;
  padding-bottom: 1em;
  padding-top: 2em;
}

.div-pad {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.div-pad-big {
  padding: 1em;
}

.confirm-head {
  background-color: $deep-blue;
  border-radius: 5px 5px 0 0;
  color: $my-white;
  font-size: 1em;
  height: 2.8em;
  line-height: 2.8em;
  text-align: left;
}


.success-booking {

  text-align: center;
  text-transform: uppercase;
  width: 40%;
}

.success-box {
  border-radius: 4px;
  padding: 1em;
  position: relative;
  top: 6em;
  width: 60% !important;
}

.success-container {
  border: 0.063em solid $light-blue-border;
  border-radius: 0.303em;
  padding: 0;
  position: relative;
}

.bookings-box {
  border-radius: 4px;
  padding: 1em;
  min-height: 100em;
  position: relative;
  top: 6em;
  width: 90% !important;
}

.large-icon {
  span.glyphicon {
    color: $google-red;
    font-size: 1.8em;
  }

}

.edit-icon {
  span.glyphicon {
    color: $medium-blue;
    font-size: 1.8em;
  }

}

.search-input {
  background-color: $my-white;
  padding: 1em;
  min-height: 50em;
  position: relative;
  text-align: center;
  top: 6em;
  width: 40% !important;
}
