@import "application";

.flights {
  background-color: $bg-color;
  min-height: 100em;
  padding-bottom: 2em;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 4em;
  position: relative;
  top: 6em;
}

.flight-pad {
  height: 3em;
  width: 100%;
}

.flight-list {
  background-color: $white;
  font-family: $header-text;
  height: 14em;
  padding: 2em;
  width: 100%;
}

.flight-airline {
  letter-spacing: 3px;
  padding-top: 4em;
  text-align: center;
  text-transform: uppercase;
}

.flight-detail {
  border-left: 1px solid $grey-border;
  border-right: 1px solid $grey-border;
  font-family: $header-text;
  font-size: 12px;
  height: 12em;
  padding-left: 1em;
  padding-right: 1em;



}

.flight-time {
  color: $black;
  font-family: $header-text;
  font-size: 12px;
  text-align: center;

  h6 {
    font-size: 14px;
    font-variant: 400;
    text-transform: uppercase;
  }

  div {
    padding-bottom: 1em;
  }

}

.top-down-pad {
  padding-bottom: 1em;
  padding-top: 1em;
}

.pagination {

  a {
    background-color: $black !important;
    border: none !important;
    color: $gray !important;
  }

  li.active>a {
    background: $orange;
    border: none;
    border-radius: 2px;
    color: $white !important;
  }

  a:hover {
    background-color: $orange !important;
    border: none;
    border-radius: 2px;
    color: $white !important;
  }
}

.arrival {
  @extend .fa-plane;
  transform: rotate(0.25turn);
}

.promo {
  background-color: $white;
  height: 30em;
  padding-left: 3em;
  padding-top: 2em;
  width: 100%;
}
