@import "application";


.my-header {
  background-color: $my-black;
  height: 3.5em;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-menu {
  color: $my-white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 400;

  ul li {
    color: $my-white;
    display: inline;
    padding-left: 1em;
    padding-right: 2em;
    text-decoration: none;
  }

}

.main-bg {
  background: image-url("bg3.jpg");
  background-size: 100%;
  color: $my-black;
  height: 50.5em;
  width: 100%;
}

.my-container {
  background-color: $my-brown;
  border: 2px;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  opacity: 0.7;
  padding: 1em;
  position: relative;
  top: 8em;
}

.my-small-font {
  color: $my-gray;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
}
.my-big-font {
  color: $my-gray;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7em;
}

.date-picker {
  background-color: $my-white !important;
  border-radius: 0.5em !important;
  color: $my-black;
  padding-left: 0.7em !important;
}

.page-number {
  display: inline;
  ul li {
    color: $my-black;
    display: inline;
  }

  a {
    border: 1px solid $my-gray;
    color: $my-black;
    display: in-line;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-decoration: none;
    &:hover {
      background-color: $my-black;
      color: $my-white;
    }

    &:active {
      background-color: $my-black;
      color: $my-white;
    }

  }
}

.my-flight {
  border-bottom: 1px solid $my-gray;
  font-size: 0.85em;
  height: 4em;
  padding: 0;
}

.all-flight {
  color: $my-black;
  font-size: 1em;
  font-weight: bold;

}

.box {
  border-radius: 10px;
  padding-left: 1em;
  position: relative;
  top: 6em;
  width: 100% !important;
}
