@import "application";

.search-bg {
  background-color: $light-blue;
  height: 100%;
}

.my-header {
  background: linear-gradient($my-white, $light-gray);
  border-bottom: 2px solid $medium-gray;
  height: 4.5em;
  line-height: 3.0em;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-menu {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 400;

  ul li {
    color: $light-blue-text;
    display: inline;
    padding-left: 1em;
    padding-right: 2em;
    text-decoration: none;
  }

}

.main-bg {
  background: image-url("bg3.jpg");
  background-size: 100%;
  color: $my-black;
  height: 50.5em;
  width: 100%;
}

.my-container {
  background-color: $my-brown;
  border: 2px;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  opacity: 0.7;
  padding: 1em;
  position: relative;
  top: 8em;
}

.my-small-font {
  color: $my-gray;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
}
.my-big-font {
  color: $my-gray;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7em;
}

.date-picker {
  background-color: $my-white !important;
  border-radius: 0.5em !important;
  color: $my-black !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 0.9em !important;
  height: 2.5em !important;
  padding-left: 0.4em !important;
  width: 9.7em !important;
}
.page-number {
  display: inline;
  ul li {
    display: inline;
    color: $my-black;
  }

  a {
    color: $my-black;
    border: 1px solid $my-gray;
    display: in-line;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-decoration: none;
    &:hover {
      background-color: $my-black;
      color: $my-white;
    }
    &:active {
      background-color: $my-black;
      color: $my-white;
    }

  }
}

.my-flight {
  border: 1px solid $light-gray;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.85em;
  vertical-align: center;
  p{
    text-align: center;
  }
}
.all-flight {
  color: $my-black;
  font-size: 1em;
  font-weight: bold;
  text-align: center;

}
.box {
  background-color: $my-white;
  border-radius: 4px;
  padding:  1em;
  position: relative;
  width: 90% !important;
  top: 6em;
}

.header-text {
  color: $my-black;
  font-weight: bolder;
}

.select-box {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
  height: 2.5em;
  width: 20em;
}

.input-passenger {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
  height: 2.5em;
  width: 5em;

}

.field-error {
  color: $my-white;
  font-size: 2em;
}




