@import "application";

.bg-image {
  background-image: image-url("plane_bg4.png");
  color: $white;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 4px;
  line-height: 322px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  position: relative;
  text-align: center;
  top: 6.6em;
  height: 322px;
  width: 100% !important;
}

.orange-text {
  color: $orange;
}

.search {
  background-color: $bg-color;
  height: 205px;
  padding-top: 1em;
  padding-left: 3em;
  position: relative;
  top: 8em;
  width: 80%;
}

.error {
  color: $google-red;
}

.orange-button {
  background-color: $orange;
  color: $white;

  &:hover {
    background-color: $white !important;
    border: 1px solid $orange !important;
    color: $orange !important;
  }
}
.grey-big {
  color: $grey;
  font-family: $h-grey;
  font-size: 20px;
}

.my-select {
  background: $white;
  border-radius: 0px;
  color: $my-black;
  font-size: 0.9em;
  height: 2.5em;
}

.main-div {
  min-height: 50em;
}

.my-footer {
  background-color: $deep-blue;
  color: $my-white;
  font-size: 0.875em;
  height: 10em;
  padding-top: 1em;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.my-container {
  background-color: $my-brown;
  border: 2px;
  border-radius: 10px;
  font-family: $open-sans;
  padding: 1em;
  position: relative;
  top: 8em;
}

.my-big-font {
  color: $my-gray;
  font-family: $open-sans;
  font-size: 1.7em;
}

.date-picker {
  background-color: $my-white !important;
  border-radius: 0.5em !important;
  color: $my-black !important;
  font-family: $helvetica !important;
  font-size: 0.9em !important;
  height: 2.5em !important;
  padding-left: 0.4em !important;
}

.my-flight {
  border: 1px solid $light-gray;
  font-family: $helvetica;
  font-size: 0.85em;
  height: 10em;
  padding-top: 3.5em;

  p {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

.passenger {
  border-bottom: 1px solid $light-gray;
  font-family: $helvetica;
  font-size: 0.85em;
  vertical-align: center;

  p {
    text-align: center;
  }
}

.all-flight {
  background-color: $deep-blue;
  border-radius: 5px 5px 0 0;
  color: $my-white;
  font-size: 1em;
  height: 2.8em;
  line-height: 2.8em;
  text-align: center;
}

.box {
  background-color: $my-white;
  border-radius: 4px;
  min-height: 50em;
  padding-top: 1em;
  position: relative;
  top: 6em;
  width: 100% !important;
}

.flight-box {
  background-color: $my-white;
  border-radius: 4px;
  min-height: 100em;
  padding: 1em;
  position: relative;
  top: 6em;
  width: 80% !important;
}


.header-text {
  color: $my-black;
  font-weight: bolder;
}

.input-passenger {
  font-family: $helvetica;
  font-size: 0.9em;
  height: 2.5em;
  width: 5em;
}

.search-error {
  vertical-align: center;
  text-align: center;
  width: 85%;
}

.search-div {
  border: 1px solid $light-gray;
  border-radius: 10px;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  width: 85%;
}

.search-head {
  background-color: $deep-blue;
  border-radius: 5px 5px 0 0;
  color: $my-white;
  font-size: 1em;
  height: 2.8em;
  line-height: 2.8em;
  padding-left: 1.2em;
  text-align: left;
  width: 100%;
}



