@import "application";

.signup-div {
  height: 30em;
  position: relative;
  text-align: center !important;
  top: 8em;
  width: 50% !important;
}

.signup-me {
  background-color: $bg-color;
  border-radius: 2px;
  margin: 0 auto;
  text-align: center;
  width: 25em;

}

.my-fields {
  color: $my-black !important;
  height: 4em !important;
  margin: 0 auto !important;
  position: relative;
  text-align: center !important;
  width: 20em;
}

.login-button {
  background-color: $orange;
  color: $white;
  width: 100%;

  &:hover {
    background-color: $white !important;
    border: 1px solid $orange !important;
    color: $orange !important;
  }
}

.label-font {
  color: $my-black;
  font-family: $open-sans;
  font-size: 0.9em;

  a {
    font-weight: bold;
    text-decoration: none;
  }
}

.big-error {
  color: $google-red;
  font-size: 1em;
}


.header {
  font-size: 1.4em;
}

.user-icon {
  text-align: center;
}


