@import "application";

.signup-header {
  background-color: $medium-blue;
  border-bottom: 0.063em solid $light-blue-border;
  border-radius: 2px 2px 0 0;
  color: $my-white;
  height: 2.6em;
  padding-left: 1.4em;
  padding-top: 0.4em;
}

.my-fields {
  color: $my-black !important;
  height: 4.4em !important;
  left: 2.6em;
  position: relative;
  top: 1em;
  width: 28em;
}

.label-font {
  color: $my-black;
  font-family: $open-sans;
  font-size: 0.9em;

  a {
    font-weight: bold;
    text-decoration: none;
  }
}

.signup-down {
  border-top: 1px solid $my-black;
  color: $my-black !important;
  height: 5em !important;
  left: 1.5em;
  padding-left: 0.4em;
  padding-top: 1em;
  position: relative;
  width: 28em;
}

.big-error {
  color: $google-red;
  font-size: 1em;
}

.small-error {
  @extend .pull-right;
  color: $google-red;
  font-size: 0.8em;
}

.signup-container {
  border: 0.063em solid $light-blue-border;
  border-radius: 0.303em;
  padding: 0 !important;
  position: relative;
  top: 8em;
  width: 34% !important;
}

.header {
  font-size: 1.4em;
}

.user-icon {
  text-align: center;
}


