@import "application";

.label-font {
  color: $my-black;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;

  a {
    color: $my-black;
    font-weight: bold;
    text-decoration: none;
  }
}

.input-field {
  border-radius: 0.2em !important;
  color: $my-black !important;
  height: 1em !important;
  padding: 0.4em !important;
}

.sign-up-button {
  background: $my-black;
  border-radius: 5px;
  color: $my-white;
  display: inline-block;
  font: normal 700 16px/1;
  padding: 8px 12px;
  text-align: center;
}

.big-error {
  color: $google-red;
  font-size: 1em;
}

.small-error {
  @extend .pull-right;
  color: $google-red;
  font-size: 0.8em;
}

.forgot-password {
  #show-password:checked + [for="show-password"]::before {
    border-right: 2px solid $my-black;
    border-bottom: 2px solid $my-black;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.sign-up-container {
  box-shadow: 5px 5px 5px #888888;
  border-radius: 10px;
  padding: 2em;
  position: relative;
  width: 40% !important;
  top: 8em;
}

