$deep-blue: #337ab7;
$light-blue: #d9edf7;
$light-black: #222;
$black: #262626;
$orange: #f46100;
$header-text: "Open Sans", Tahoma, Arial, helvetica, sans-serif;
$h-grey: "Roboto", arial, helvetica, sans-serif;
$grey: #565656;
$white: #ffffff;
$bg-color: #f8f8f8;
$grey-border: #ececec;
$pink: #ffc0c5;
