<div class="my-header">
  <div class="header-menu left">
    <ul>
       <li>All Flights</li>
      <%=link_to root_path do %><li>Search</li> <% end %>
       <%=link_to login_users_path do %><li> Sign In </li> <% end %>
    </ul>
  </div>
  <div class="header-menu right">
    <ul>
      <li>Welcome </li>
      <li>Log Out</li>
    </ul>
  </div>
</div>
