<div class="my-header">
  <div class="header-menu right">
    <ul>
    <a href="#"><li>All flights</li></a>
    <%=link_to root_path do %>
    <li>Search</li>
    <% end %>
    <%=link_to login_users_path do %>
     <li> Sign In </li>
    <% end %>
    </ul>
    <ul>
    <li>Welcome</li>
    <li>Log Out</li>
    </ul>
  </div>
</div>
