<html>
<head>
<style>
.confirm-head {
  background-color: #337ab7;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  font-size: 1em;
  height: 2.8em;
  line-height: 2.8em;
  text-align: left;
}
.div-pad {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.mail-table {
  border: 1px solid black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  tr {
    border: ipx solid black;
  }
}
</style>
</head>
  <body>
    <%= yield %>
  </body>
</html>
