<html>
<head>
<style>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

.title {
  background-color: #337ab7;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  font-size: 1em;
  height: 2.8em;
  line-height: 2.8em;
  text-align: left;
}


.booking-table {
  border:1px solid #ccc;
  border-width:1px 2px 2px 1px;
  font-family: arial,sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width:35%;
}
.body-text {
  font-family: arial,sans-serif;
  font-size: 14px;
}

.title-text {
  text-align: right;
}

.bold-text{
  color: #222;
  font-size: 12px;
  font-weight: bold;

}
.my-row {
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
}
.mail-table {
  border: 1px solid black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  tr {
    border: ipx solid black;
  }
}
</style>
</head>
  <body class="body-text">
    <%= yield %>
  </body>
</html>
